playwright==1.48.0
langchain==0.3.3
langchain-community==0.3.2
huggingface_hub==0.26.0
chromadb==0.5.15
numpy==1.26.4
flask==3.0.3
flask-cors==5.0.0
ebooklib==0.18
textstat==0.7.4
vaderSentiment==3.3.2